
<div class="ingredient_list">
	<div class="row prep">
		<div class="span1 column">
			prep time
		</div>
		<div class="span1 column">
			cook time
		</div>
		<div class="span1 column">
			ready in
		</div>
	</div>
	<h3>ingredients</h3>
	<hr />
	<% @recipe.associations.each do |a| %>
		<div class="row">
			<%= "#{a.amount} #{a.ingredient.name}" %>
		</div>
	<% end %>
</div>