
<div class="ingredient_list">
	<b>cooktime:</b><br />
	<b>quantity makes:</b>
	
	<br />
	<br />

	<h3>ingredients</h3>
	<hr />
	<% @recipe.associations.each do |a| %>
		<div class="row">
			<%= "#{a.amount} #{a.ingredient.name}" %>
		</div>
	<% end %>
</div>