<% recipes.each do |recipe| %>
	<div class="row">
	<div class="span1 column">
		<% if @user == current_user %>
			<% if recipe.public? %>
				<%= link_to "public", url_for(:controller => 'recipes', :action => 'toggle', :toggle => true, :user_id => @user, :id => recipe), :method => 'put', :remote => true, :class => "btn small info" %>
			<% else %>
				<%= link_to "private", url_for(:controller => 'recipes', :action => 'toggle', :toggle => true, :user_id => @user, :id => recipe), :method => 'put', :remote => true, :class => "btn small danger" %>
			<% end %>
		<% end %>
	</div>
	<div class="span10 columns">
		<%= link_to recipe.name, recipe %>
	</div>
	</div><!-- /row --> 
<% end %>