<div class="ingredient_toolbox">
	<div>
	<h3>steps</h3>
		<-- steps go here -->
	<h3>ingredients</h3>
	<% Ingredient.all.each do |i| %>
		<%= image_submit_tag i.image, :title => i.name, :class => "ingredient", :id => i.id, :method => 'get' %>
	<% end %>
	</div>
</div>