<div class="container-fluid">
	<div class="sidebar">
			<%= render :partial => 'ingredientList' %>
	</div>
	<div class="content">
		<div class="row">
			<%= render @recipe %>
		</div>
	</div>
</div>