<h3><%= mine_or_theirs @user %> recipes</h3>
<hr />

<div id="allrecipes">
	<%= render :partial => 'recipes/recipelist', :locals => { :recipes => @recipes } %>
</div>
<% if @user == current_user %>
<div class="row">
	<div class="span2 columns offset1">
		<%= button_to "new recipe", new_recipe_path, :method => 'get', :class => "btn primary" %>
	</div>
</div>
<% end %>