<h3 class="user_title"><%= mine_or_theirs @user %> recipes</h3>
<% if @user == current_user %>
	<%= link_to "new recipe", '#', :class => "btn primary new" %>
	<%= render :partial => 'recipes/new_recipe_modal', :locals => {:recipe => @recipe}%>
<% end %>
<hr />

<div id="allrecipes">
	<%= render :partial => 'recipes/recipelist', :locals => { :recipes => @recipes } %>
</div>
