<div class="row">
	<div class="span1 column offset1 stepnum">
		<div>
			<h2><%= step.number_string %></h2>
		</div>
	</div>
	<% step.associations.ordered.each do |association| %>
		<div class="span1 column padright">
		<nobr>
		<div class="association">
		<%= render association %>
		</div>
		<% unless association == step.associations.ordered.last %>
			<div class="combine" >+</div>
		<% end %>
		</nobr>
		</div>
	<% end %>
	<div class="span1 column padright">
		&nbsp;
	</div>
</div><!-- /row --> 
<!--<div class="row">
	<div class="span10 columns offset3 note"><%= step.note %></div>
</div> -->
