<span class="ingredient_image">
	<%= image_tag association.ingredient.image, :title => association.ingredient.name, :size => "35x35", :class => "ingredient handle" %>
</span>
<span class="ingredient_amount">
	<%= association.amount %>
</span>
