// Place all the styles related to the Ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ingredient {
	margin: 0;
  	padding: 0;
	
	li {
		float:       left;
		font-size:   2em;
		list-style:  none;
		display:     inline;
		padding:     10px 10px 0px 0px;
	}
}